/* Ниже подключение шрифтов */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: 'PT Sans', sans-serif;
  background-color: #E5E5E5;
  min-height: 100%;
  margin: 0;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

/* Ниже стили для разных состояний коричневых кнопок */
.button__color_brown:hover {
  background-color: #615048;
}

.button__color_brown:focus {
  background-color: #615048;
}

.button__color_brown:active {
  color: rgba(255, 255, 255, 0.3);
}

.button__color_brown:disabled {
  background-color: #E5E5E5;
}

/* Ниже стили для разных состояний синих кнопок */
.button__color_blue:hover {
  background-color: #68A2CA;
}

.button__color_blue:focus {
  background-color: #68A2CA;
}

.button__color_blue:active {
  color: rgba(255, 255, 255, 0.3);
}

.button__color_blue:disabled {
  background-color: #E5E5E5;
}

/* Ниже стили для блока header */
.header {
  z-index: 1;
}

.navigation__logo {
  margin: 0 47px 0 70px;
}

.navigation {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation__list {
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navigation__list-item {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 34px;
}

.navigation__list-link {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.navigation__list-link_current::before {
  position: absolute;
  top: 45px;
  right: 0;
  left: 0;
  height: 2px;
  background-color: #756157;
  content: "";
}

.navigation__user {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navigation__user-link-search {
  background-image: url(../images/header-search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 19px 19px;
  display: block;
  width: 42px;
  height: 66px;
}

.navigation__user-link-favorites {
  background-image: url(../images/header-favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  background-size: 19px 19px;
  display: block;
  width: 42px;
  height: 66px;
  margin-right: 21px;
  position: relative;
}

.navigation__user-link-count-container {
  position: absolute;
  top: 15px;
  right: -2px;
  min-width: 20px;
  min-height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navigation__user-link-count {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: -0.1em;
  text-align: center;
  color: #FFFFFF;
}

.navigation__user-link-hotels {
  display: inline-block;
  padding: 8px 34px;
  margin-top: 14px;
  margin-right: 70px;
  background-color: #756157;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

/* Ниже стили для секции advantages */
.main {
  flex-grow: 1;
}

.advantages {
  position: relative;
  margin-top: -10px;
  margin-bottom: 91px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages__background-image {
  display: block;
  margin-bottom: 63px;
  position: relative;
}

.advantages__background-image::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 57px;
  bottom: 0;
  width: 1200px;
  height: 57px;
  z-index: 10;
  background-image: url(../images/advantages-background-decoration.svg);
}

.advantages__image {
  position: absolute;
  z-index: 1;
  top: 51px;
  margin: 0 auto 0 auto;
  left: 0;
  right: 0;
}

.advantages__title {
  width: 620px;
  height: 72px;
  margin-top: 0;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.advantages__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 90px;
}

/* .advantages__cards {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.advantages__item-title {
  width: 230px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
}

.advantages__item:last-of-type {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.advantages__item:nth-of-type(9) {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.advantages__item:nth-of-type(6) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.advantages__item:nth-of-type(7) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.advantages__item:nth-of-type(8) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.advantages__item_background-dark-blue {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages__item_background-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__item_background-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item-image {
  display: block;
}

.advantages__item-number {
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
}

.advantages__item-description {
  width: 230px;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
} */

.advantages__item-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
}

.advantages__item-description {
  margin: 0;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
}

.advantages__item-logo {
  margin-bottom: 30px;
}

.advantages__unordered-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages__unordered-item {
  min-height: 384px;
  flex-grow: 1;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages__ordered-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}

.advantages__figure {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__item {
  min-height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.advantages__item_color_dark-blue {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages__item_color_grey-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__item_color_grey {
  background-color: rgba(131, 179, 211, 0.12);
}














/* Ниже стили для блока offer */
.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer__title {
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.offer__description {
  width: 592px;
  margin-top: 0;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
}

.offer__link {
  padding: 12px 149px;
  margin-bottom: 93px;
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

/* Ниже стили для блока subscription */
.subscription {
  width: 1200px;
  margin: 0 auto 0 auto;
  min-height: 411px;
  margin-bottom: 45px;
  background-image: url(../images/subscription-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
  padding-top: 94px;
  text-align: center;
}

.subscription__description {
  width: 475px;
  margin: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
}

.subscription__form {
  padding-bottom: 94px;
  display: flex;
}

.subscription__form-field {
  padding: 0;
  padding-left: 22px;
  width: calc(600px - 22px);
  height: 60px;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.subscription__form-button {
  padding: 0;
  width: 200px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 0 10px 10px 0;
  border: none;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  cursor: pointer;
}

/* Ниже стили для блока footer */
.footer {
  display: flex;
  justify-content: space-between;
}

.footer__social-list {
  list-style-type: none;
  margin-left: 70px;
  margin-right: 41px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer__social-list-item {
  width: 47px;
  height: 40px;
}

.footer__tel-link {
  width: 720px;
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.footer__logo-link {
  margin-right: 70px;
}


















.catalog-filter {
  background-image: url(../images/catalog-filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
}

.catalog-filter__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
}

.catalog-filter__breadcrumbs {
  list-style-type: none;
}

.catalog-filter__breadcrumbs-item-link {
  font-size: 16px;
  line-height: 1.31;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}

.catalog-filter__checkbox-list {
  list-style-type: none;
}

.catalog-filter__radio-list {
  list-style-type: none;
}

.hotels-search__number {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.hotels-search__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hotels-search__list-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.hotels-search__list-item-type {
  font-size: 18px;
  line-height: 1.17;
}

.hotels-search__list-item-price {
  font-size: 18px;
  line-height: 1.17;
}

.hotels-search__list-item-detail {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: #756157;
  color: #FFFFFF;
  text-decoration: none;
}

.hotels-search__list-item-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
}

.hotels-search__list-item-rating {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.hotels-search__pagination {
  display: flex;
  list-style-type: none;
}

.hotels-search__pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  border-radius: 4px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.hotels-search__pagination-item:first-of-type {
  background-color: #F2F2F2;
  color: #000000;
}

.hotels-search__amount {
  font-size: 18px;
  line-height: 1.17;
}

.subscription_catalog {
  color: #000000;
  background-image: none;
}

.main-inner {
  flex-grow: 1;
}
